#searchBody{
    /* background: rgb(4,9,30);
background: linear-gradient(90deg, #04091e 0%, #132055 50%, #04091e 100%); */
background-color: white;
}

#borderHeader{
    border-bottom: 0.5px solid #04091e;
}

.searchBar{
    margin-top: 25px;
    padding-right: 100px;
}